node_modules
dist
dist-electron
docs


# Keep environment variables out of version control
.env
.env.local
.env.*.local

# Prisma
/generated/prisma
backend/node_modules
backend/dist
backend/prisma/dev.db
backend/prisma/dev.db-journal

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
*.swp
*.swo